#about {
    padding: 0 var(--padding-horizontal);
    position: relative;
}

#about .bg {
    background-image: url('/images/bg-alt.jpg');
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    transition: transform 0.4s ease-out;
}

#about .gradient {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 1;
    background: linear-gradient(#00121a44 0%, #00121aff 80%);
}

#about .content {
    max-width: var(--max-width);
    margin: 0 auto;
    position: relative;
    z-index: 2;
    padding-top: 9em;
    padding-bottom: 2em;
}

#about h2 {
    font-weight: 100;
    font-size: clamp(2rem, 11vw, 3rem);
    margin-bottom: 0.8em;
    line-height: 130%;
}

#about p {
    line-height: 180%;
    font-weight: 300;
    margin-bottom: 2em;
}

#about span {
    font-weight: 700;
}

#about .button {
    margin-top: 4em;
}
