#contact {
    padding-top: 5em;
    padding-bottom: 10em;
    background-color: var(--color-blue);
    background: linear-gradient(#0b2f4188, #0b2f41ff 20%);
    position: relative;
}

#contact .content {
    padding: 0 var(--padding-horizontal);
    max-width: var(--max-width);
    margin: 0 auto;
}

#contact h2 {
    text-transform: uppercase;
    /* font-size: clamp(1.6rem, 10vw, 4rem); */
    font-weight: 200;
    margin-bottom: 0.6em;
}

#contact p {
    font-weight: 100;
}

#contact b {
    font-weight: 700;
}

#contact .button {
    margin-top: 8em;
}
