nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
    user-select: none;
    text-transform: uppercase;
    z-index: 100;
}

nav::before {
    content: '';
    display: block;
    background: linear-gradient(var(--color-darkblue), transparent);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: -0.4em;
    pointer-events: none;
    z-index: -1;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em 4em;
    margin-top: 0.4em;
    margin-bottom: 0;
    gap: 3em;
    position: relative;
    font-size: 1.2rem;
}

nav a {
    text-decoration: none;
}

nav .name {
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    flex: 1;
    text-wrap: nowrap;
}

.hamburger-menu {
    display: none;
    padding: 1em 3em;
    padding-right: 2em;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.hamburger-menu .name {
    font-size: 1.2rem;
}

.hamburger-menu ul {
    position: fixed;
    margin: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-darkblue);
    transform: translateY(-200vh);
    transition: transform 0.2s ease-in-out;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.6rem;
    gap: 1.6em;
    font-weight: 600;
}

.hamburger-menu ul.show {
    transform: none;
}

.hamburger-button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    width: 1.8em;
    height: 1.2em;
    padding: 0.6em;
    cursor: pointer;
    position: relative;
}

.hamburger-button.x div:first-child {
    display: none;
}

.hamburger-button.x div:nth-child(2) {
    transform: rotate(45deg);
}

.hamburger-button.x div:nth-child(3) {
    transform: rotate(-45deg);
}

.hamburger-button.x div {
    position: absolute;
    left: 0.6em;
    right: 0.6em;
    top: 1.2em;
}

.hamburger-button div {
    background-color: white;
    height: 3px;
    border-radius: 2px;
    transition: transform 0.2s ease-out;
}

@media screen and (max-width: 830px) {
    .regular-menu {
        display: none;
    }

    .hamburger-menu {
        display: flex;
    }
}
