#projects {
    max-width: var(--max-width);
    margin: 0 auto;
    margin-top: -14em;
    display: grid;
    grid-column-gap: 2em;
    grid-row-gap: 2em;
    grid-template-columns: 0.9fr 3em 1fr;
    grid-template-rows: 8em 20em 26em 7em;
    max-width: 60em;
    padding: 0 var(--padding-horizontal);
    padding-bottom: 8em;
    position: relative;
    border-radius: 0 0 1em 1em;
}

#projects.expanded {
    grid-template-rows: 8em 20em 26em 7em 3em 24em 24em;
}

#projects h2 {
    margin-top: 0;
}

#projects .item1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 2;
}

#projects .item2 {
    grid-column: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

#projects .item3 {
    grid-column: 1;
    grid-row-start: 3;
    grid-row-end: 6;
}

#projects .item4 {
    grid-row: 3;
    grid-column-start: 2;
    grid-column-end: 4;
}

#projects.expanded .item4 {
    grid-row-start: 3;
    grid-row-end: 5;
}

#projects .item5 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 7;
}

#projects .item6 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 6;
    grid-row-end: 7;
}

#projects .item7 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 7;
    grid-row-end: 8;
}

#projects .view-all {
    grid-row-start: 4;
    grid-row-end: 6;
    grid-column-start: 2;
    grid-column-end: 4;
    display: flex;
    align-items: flex-end;
    padding-bottom: 2.6em;
}

@media screen and (max-width: 700px) {
    #projects {
        display: flex;
        flex-direction: column;
    }

    #projects > .project-card {
        min-height: 20em;
    }
}
