.project-card {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    opacity: 0.1;
    transition:
        opacity 0.2s ease-out,
        transform 0.2s ease-out;
    transform: translateX(-0.5em);
}
.project-card.in-view {
    opacity: 1;
    transform: none;
}

.project-card .image-container {
    flex: 1;
    position: relative;
    overflow: hidden;
}

.project-card.mikro-gourmet .image {
    top: 2em;
    left: 2em;
    right: 2em;
    bottom: 2em;
}

.project-card .image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition:
        transform 0.2s ease-out,
        filter 0.2s ease-out;
    background-image: var(--img);
    background-position: center;
    background-repeat: no-repeat;
}

.project-card:hover .image {
    transform: scale(1.03);
}

.project-card .info {
    padding: 1em 0;
    font-size: 0.8rem;
    display: flex;
    justify-content: space-between;
}

.project-card .info .title {
    font-weight: 300;
}

.project-card .info .category {
    font-weight: 700;
}

.project-card .info > *:first-child {
    text-align: left;
}

.project-card .info > *:last-child {
    text-align: right;
}
