.project-card {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    opacity: 0.1;
    transition:
        opacity 0.2s ease-in,
        transform 0.2s ease-in;
    transform: translateX(-0.5em);
}

.project-card .project-image {
    flex: 1;
}

.project-card.mikro-gourmet .project-image > * {
    top: 2em;
    left: 2em;
    right: 2em;
    bottom: 2em;
}

.project-card:hover .project-image > * {
    transform: scale(1.03);
}

.project-card.in-view {
    opacity: 1;
    transform: none;
}

.project-card .info {
    padding: 1em 0;
    font-size: 0.8rem;
    display: flex;
    justify-content: space-between;
    gap: 1em;
}

.project-card .info .title {
    font-weight: 300;
}

.project-card .info .category {
    font-weight: 700;
}

.project-card .info > *:first-child {
    text-align: left;
}

.project-card .info > *:last-child {
    text-align: right;
}
